<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Example application</title>
    <script>
      function initWidget(NexaasID) {
        var wrapper = document.getElementById('widgetWrapper');
        NexaasID.createUserWidget(wrapper);
      }
    </script>
    <script src="{{widget}}&callback=initWidget"></script>
  </head>

  <body>

    <nav class="main-nav">
      <h1>Django App</h1>
      <div id="widgetWrapper"></div>
    </nav>

    <article class="profile">
      <div class="profile-image">
        <img src="{{user.picture}}" alt="{{user.email}}" />
      </div>
      <div class="profile-info">
        <h2 class="header">
          {{user.full_name}}
          <span class="sub-header">{{user.email}}</span>
        </h2>

        <div class="info">
          <strong>Birth</strong>
          <span>{{user.birth}}</span>
        </div>

        <div class="info">
          <strong>Language</strong>
          <span>{{user.language}}</span>
        </div>

        <div class="info">
          <strong>Timezone</strong>
          <span>{{user.timezone}}</span>
        </div>
      </div>
    </article>
  </body>
</html>
