<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Example application</title>
    <script>
      function initWidget(NexaasID) {
        var wrapper = document.getElementById('widgetWrapper');
        NexaasID.createUserWidget(wrapper);
      }
    </script>
    <script src="{{widget}}&callback=initWidget"></script>
  </head>

  <body>
    <div id="widgetWrapper">
      <h1>Hi {{user.full_name}}!</h1>
      <img src="{{user.picture}}" alt="{{user.email}}" />
    </div>
    <div>
      <dl>
        <dt>E-mail</dt><dd>{{user.email}}</dd>
        <dt>Birth</dt><dd>{{user.birth}}</dd>
        <dt>Language</dt><dd>{{user.language}}</dd>
        <dt>Timezone</dt><dd>{{user.timezone}}</dd>
      </dl>
    </div>
  </body>
</html>
