* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #47494C;
  background-color: #F9FBFF;
}

#widgetWrapper {
  margin-left: auto;
}

.main-nav {
  padding: 10px;
  color: #47494C;
  border-bottom: 1px solid #E6EAF2;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.profile {
  margin: 60px auto;
  width: 100%;
  max-width: 370px;
  background-color: #fff;
  box-shadow: 0 24px 40px 0 rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.profile-image {
  position: relative;
  min-height: 120px;
  background-image: url('https://37.media.tumblr.com/88cbce9265c55a70a753beb0d6ecc2cd/tumblr_n8gxzn78qH1st5lhmo1_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-image:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(5,85,134), rgba(181,181,181, 0.1));
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
}

.profile-image > img {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -60px);
  border-radius: 100%;
  border: 4px solid #fff;
  z-index: 1;
}

.profile-info {
  padding: 80px 20px 20px;
}

.header {
  text-align: center;
  font-size: 1.55em;
  line-height: .95em;
}

.header > .sub-header {
  display: block;
  font-size: .75em;
  font-weight: normal;
}

.info {
  padding: 10px 0;
  border-bottom: 1px dotted #eee;
}

.info:last-child {
  border: none;
}

.info > .info-value {
  float: right;
}

.divider {
  border: none;
  margin: 15px;
}


